@font-face {
  font-family: "Prompt-Regular";
  src: url("/fonts/Prompt-Regular.ttf");
}

@font-face {
  font-family: "Prompt-Medium";
  src: url("/fonts/Prompt-Medium.ttf");
}

@font-face {
  font-family: "Prompt-Bold";
  src: url("/fonts/Prompt-Bold.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prompt-Medium";
}

#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #343a40;
}
#sidebar ul li {
  color: rgba(255, 255, 255, 1);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}
#article {
  padding-left: 200px;
  width: 100%;
  background-color: #f1f1f1;
}

#row {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
}

#logout {
  display: table-cell;
  background-color: red; /*Optional*/
}